.Modal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  /*background-color: rgba(244, 97, 82, 0.9);*/

  display: flex;
  padding-top: 10%;
  /*align-items: center;*/
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
  pointer-events: all;

  /*animation: fadein 100ms forwards;*/
}
